<div class="post" *ngFor="let i of post">
  <div class="post-card-header d-flex justify-content-between">
    <div class="profile d-flex">
      <img src="../../assets/profile.jpg" alt="">
      <h6>Random User</h6>
    </div>
    <i class="fas fa-ellipsis-h"></i>
  </div>
  <div class="post-card-img">
    <swiper [config]="config" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()">
      <ng-template swiperSlide>
        <figure>
          <img src="../../assets/post.jpg" alt="">
        </figure>
      </ng-template>
      <ng-template swiperSlide>
        <figure>
          <img src="../../assets/post-2.jpg" alt="">
        </figure>
      </ng-template>
    </swiper>
  </div>
  <div class="post-card-content">
    <div class="d-flex justify-content-between interactable">
      <div class="d-flex">
        <i (click)="heartClick()" [ngClass]="heart ? 'fas' : 'far'" class="mr-3 far fa-heart"></i>
        <i class="mr-3 far fa-comment"></i>
        <i class="far fa-paper-plane"></i>
      </div>
      <div class="share">
        <i (click)="bookmarkClick()" [ngClass]="bookmark ? 'fas' : 'far'" class="far fa-bookmark"></i>
      </div>
    </div>
    <div class="d-flex justify-content-between likes">
      <p>
        <img src="../../assets/profile.jpg" alt="">
        Liked By
        <a>Random User 2</a>
        and
        <a>8 others</a>
      </p>
    </div>
    <div class="comment-box">
      <p class="caption">
        <a>Random User</a>
        This is a random Comment
      </p>
      <a class="view-comment">View all <span>{{comments.length}}</span> Comments</a>
      <div *ngFor="let i of comments; let indexof = index" class="mt-2 top-comment d-flex justify-content-between">
        <p>
          <a>Random User 2</a>
          This is a Random comment from user 2
        </p>
        <i (click)="heartCommentClick(indexof)" [ngClass]="heartComment ? 'fas' : 'far'" class="far fa-heart"></i>
      </div>
      <p class="duration">
        <span>6</span>
        Days ago
      </p>
    </div>
  </div>
  <div class="line"></div>
  <div class="comment">
    <form action="">
      <div class="input-cont">
        <i class="far fa-smile"></i>
        <input type="text" placeholder="Add a Comment...">
        <button disabled>Post</button>
      </div>
    </form>
  </div>
</div>
