<div class="details">
  <div class="d-md-flex">
    <div class="img-cont">
      <figure>
        <img src="../../../assets/single-profile.jpg" alt="">
      </figure>
    </div>
    <div class="content">
      <div class="d-flex justify-content-between justify-content-md-start">
        <div class="username">lorem_ipsum</div>
        <button>Edit Profile</button>
        <i class="fas fa-cog fa-2x"></i>
      </div>
      <div class="d-flex justify-content-between justify-content-md-around pff">
        <h3><span>51</span> Post</h3>
        <h3><span>200</span> Follower</h3>
        <h3><span>400</span> Following</h3>
      </div>
      <div class="user-details">
        <h2>Lorem Ipsum</h2>
        <div class="bio">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto debitis recusandae cum eaque quasi. Ad ab
            nam quaerat itaque adipisci!</p>
        </div>
      </div>
    </div>
  </div>

</div>
