<div class="post-detail">
  <i (click)="back()" class="fas fa-times fa-2x"></i>
  <div class="contain">
    <div class="post">
      <div class="d-md-flex h-100">
        <div class="img-cont">
          <figure class="m-0 h-100">
            <img src="{{photo}}" alt="" class="w-100 h-100">
          </figure>
        </div>
        <div class="content">
          <div class="head">
            <div class="d-flex justify-content-between">
              <div class="d-flex profile">
                <img src="{{user.picture.large}}" alt="">
                <h6 routerLink="/profile">{{user.name.first + user.dob.age}}</h6>
                <h5>Following</h5>
              </div>
              <i class="fas fa-ellipsis-h"></i>
            </div>
          </div>
          <div class="line"></div>
          <div class="comment-area">
            <div class="caption">
              <div class="d-flex">
                <figure class="profile">
                  <img src="{{user.picture.large}}" alt="">
                </figure>
                <p>
                  <a routerLink="profile">
                    {{user.name.first + user.dob.age}}
                  </a>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> In, ad? Sit aperiam cumque quaerat
                  provident!<br>
                  Ipsum laudantium rem modi iusto quis facilis impedit perspiciatis! Dicta.<br>Lorem ipsum dolor sit
                  amet
                  consectetur adipisicing elit.<br> Totam autem minus nulla illo odit temporibus repellat quam expedita,
                  aliquid molestiae.<br> Tenetur laborum porro perferendis ducimus.
                </p>
              </div>
              <p class="float-right">{{user.registered.age}}h ago</p>
            </div>
            <div class="comment mt-5" *ngFor="let i of users">
              <div class="d-flex">
                <figure class="profile">
                  <img src="{{i.picture.large}}" alt="">
                </figure>
                <p>
                  <a routerLink="profile">
                    {{i.name.first + i.dob.age}}
                  </a>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt, quidem.
                </p>
              </div>
              <p class="float-right">{{i.registered.age}}h ago</p>
            </div>
          </div>
          <div class="footer">
            <div class="line"></div>
            <div class="post-card-content">
              <div class="d-flex justify-content-between interactable">
                <div class="d-flex">
                  <i (click)="heartClick()" [ngClass]="heart ? 'fas' : 'far'" class="mr-3 far fa-heart"></i>
                  <i class="mr-3 far fa-comment"></i>
                  <i class="far fa-paper-plane"></i>
                </div>
                <div class="share">
                  <i (click)="bookmarkClick()" [ngClass]="bookmark ? 'fas' : 'far'" class="far fa-bookmark"></i>
                </div>
              </div>
              <div class="d-flex justify-content-between likes">
                <p>
                  <img src="{{user.picture.large}}" alt="">
                  Liked By
                  <a routerLink="/profile">{{user.name.first + ' ' + user.name.last}}</a>
                  and
                  <a>8 others</a>
                </p>
              </div>
            </div>
            <div class="line"></div>
            <div class="comment">
              <form action="">
                <div class="input-cont">
                  <i class="far fa-smile"></i>
                  <input type="text" placeholder="Add a Comment...">
                  <button disabled>Post</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
